{% extends "base.html" %}
{%block tab1 %}'on'{% endblock %}

{% block stylesheets %}
    <link href="{{ STATIC_URL }}css/login.css" type="text/css" rel="stylesheet">

{% endblock %}

{% block scripts %}
    <script type='text/javascript' src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/csrf-ajax.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}

{% block content %}


<div id='container'>
	<div id='login-block'>
		<span id='header'><p>Quotable</p></span>
	    <form action="{% url facebook_connect %}?facebook_login=1" method="post">
	        <div id='fb' onclick='F.connect(this.parentNode);'><p>Login with Facebook</p></div>
	        {% if path %}
	            <input type="hidden" value="{{path}}" name="next" />
	        {% else %}
	            <input type="hidden" value="/newsfeed" name="next" />
	        {% endif %}
	    </form>
    	{% include 'django_facebook/_facebook_js.html' %}
	</div>
</div>
{% endblock %}
