{% extends "base.html" %}

{%block tab1 %}'on'{% endblock %}

{% block stylesheets %}
    <link href="{{ STATIC_URL }}css/me.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/csrf-ajax.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}

{% block content %}
<div id='container'>
    <div id='feed-block'>
        {% for q in quotes %}
            <div class='quote'>
                <p id='quote-body'>{{ q.body }}</p>
                {% if q.sayer_id %}
                    <a id='sayer1' href="/person/{{ q.sayer_id }}"> q.sayer </a>
                {% else %}
                    <p id='sayer2'>q.sayer </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
