{% extends "base.html" %}

{%block tab1 %}'on'{% endblock %}

{% block stylesheets %}
    <link href="{{ STATIC_URL }}css/create.css" type="text/css" rel="stylesheet">

{% endblock %}

{% block scripts %}
    <script type='text/javascript' src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/csrf-ajax.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}

{% block content %}

{% endblock %}
