#container {
    #login-block {
        position: absolute;
        display: block;
        @width: 500px;
        width: @width;
        padding: 0;
        margin: 0 auto;
        margin-left: -@width/2;
        top: 40%;
        left: 50%;
        #header {
            p {
                font-family: 'Sacramento';
                text-align: center;
                font-size: 150px;
                line-height: 150px;
            }
        }
        #fb {
            width: 300px;
            margin-left: 100px;
            p {
                text-align: center;
                font-size: 25px;
                &:hover {
                    color: lighten(black, 40%);
                }
            }
            cursor: pointer;
        }
    }
}
